In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("../data/test-data.dat", names=["data"])

In [18]:
df["label"] = pd.read_csv("../data/test-label.dat", header=None)

In [19]:
df

,data,label
0,<31> <6> 5282 4641 3031 536 5366 1759 <5> 4855...,1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
1,<31> <7> 838 4060 2673 3204 5724 8518 6629 <8>...,0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
2,<31> <6> 3664 3664 1254 5970 126 2401 <6> 2401...,0 0 1 0 1 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0
3,<19> <4> 4688 3981 6858 4338 <6> 4282 2229 139...,0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
4,<4> <8> 777 5978 3631 1505 2287 4461 46 2401 <...,0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0
...,...,...
3978,<7> <9> 2545 4627 209 1761 1732 2610 7934 1015...,0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
3979,<31> <4> 2374 1355 1564 2577 <9> 2615 5388 119...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
3980,<31> <10> 2892 6895 5902 5970 5684 2892 1163 5...,0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
3981,<3> <5> 2781 3368 3672 704 5667 <5> 5978 3031 ...,1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
3982,<3> <4> 1209 6858 1137 4466 <8> 859 444 1037 8...,0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0

In [21]:
def dat_to_df(name):
    assert name == "train" or name == "test"
    # csv is used because rows are seperated by new lines we do not make use of the "," delimiter
    df = pd.read_csv("../data/" + name + "-data.dat", names=["data"])
    df["label"] = pd.read_csv("../data/"+ name + "-label.dat", header=None)
    return df

In [46]:
#initialize dict (BOW rep for every text)
diction = dict.fromkeys((str(i) for i in range(8520)), 0)
#<\d+>

In [42]:
import re

In [ ]:
#print(df.iloc[0,0])
test = re.sub('<\d+>', '', df.iloc[0,0])
#initialize dict (BOW rep for every text)
diction = dict.fromkeys((str(i) for i in range(8520)), 0)

for numbers in re.findall(pattern, test):
    print(numbers)
    diction[numbers] = diction[numbers] + 1
print(diction)

In [ ]:
def processing(row):
    text  = row['article']
    # create BoW dict
    # zeros intialize use range as keys
    diction = dict.fromkeys((str(i) for i in range(8520)), 0)
    for numbers in re.findall(re.compile('[0-9]+'), text):
        diction[numbers] = diction[numbers] + 1
    return diction